.btn-container{
    box-shadow: 0 0 10px black;
    width:  300px;
    padding: 30px;
    margin: 100px auto;
   text-align: center;
}
.mybtn{
    background-color: coral;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px ;
}
.bg-primary{
    background: linear-gradient(45deg,darkred,black);
}